* {
    font-family: "Montserrat",Arial, Helvetica, sans-serif;    
}
.carousel-item.active.w-100{
    height: 60%;
}

.carousel-item.w-100{
    height: 60%;
}

.img-responsive.w-100{
    height: 10rem;
    overflow: hidden;
}

div.col.border:hover{
    cursor: pointer;
}

.imagen-cont{
    overflow: hidden;
}

.zoom {
    transition: transform 0.5s; 
}
 
.zoom:hover {
    transform: scale(1.2, 1.2); 
}
