* {
  font-family: "Montserrat",Arial, Helvetica, sans-serif;
}

.col-4{
    height: 15rem;
}

.container{
  min-height: 84%;
}

.row.mb-5:hover{
    background-color: rgb(248, 248, 248);
    box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.1), 10px 10px 10px rgba(255, 255, 255,0.01) !important;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    cursor: pointer;
}

.col-4,.col-8{
    opacity: 0;
    animation-name: bounceIn;
    animation-duration: 450ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  
}
@keyframes bounceIn{
0%{
  opacity: 0;
  transform: scale(0.3) translate3d(0,0,0);
}
50%{
  opacity: 0.9;
  transform: scale(1.1);
}
80%{
  opacity: 1;
  transform: scale(0.89);
}
100%{
  opacity: 1;
  transform: scale(1) translate3d(0,0,0);
}
}
