* {
  font-family: "Montserrat",Arial, Helvetica, sans-serif;
}

.col-4{
    height: 15rem;
}

.container{
  min-height: 84%;
}

.row.mb-5:hover{
    background-color: rgb(248, 248, 248);
    box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.1), 10px 10px 10px rgba(255, 255, 255,0.01) !important;
    cursor: pointer;
}

.zoom {
  transition: transform 0.5s; 
}

.zoom:hover {
  transform: scale(1.2, 1.2); 
}

.imagen-cont{
  overflow: hidden;
}






.row:nth-child(odd){
  animation-name: izq;
  animation-duration: 1000ms;
  animation-timing-function:cubic-bezier(.64,.02,.21,.98);
}
.row:nth-child(even){
  animation-name: der;
  animation-duration: 1000ms;
  animation-timing-function:cubic-bezier(.64,.02,.21,.98);
}


@keyframes izq{
  0%{
    position: relative;
    left:-10%;
    opacity: 0;
  }
  100%{
    position: relative;
    left:0%;
    opacity: 1;
  }
}


@keyframes der{
  0%{
    position: relative;
    right:-10%;
    opacity: 0;
  }
  100%{
    position: relative;
    right:0%;
    opacity: 1;
  }
}


