* {
    font-family: Arial, Helvetica, sans-serif;
    
}

html{
    overflow-x: hidden;
}

#navbar{
    z-index: 1;
}

#intro-image {
    background-position: 50%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;     
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 7%;
    opacity: 0.8;
}



#fondo-negro{
    height: 68.5%;
    position: absolute;
    background-color: black;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 7%;
}

#text-intro-image{
    all: initial;
    font-size: 400%;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 20%;
    left: 10%;
    border-bottom: 1px solid white;
    z-index: 200;
}

.subtitulo-intro-image{
    all: initial;
    position: absolute;
    color: white;
    top: 110%;
    left: 0%;
}

.nombre{
    font-weight: bold;
    font-size: larger;
    padding-bottom:10px;
    border-bottom: 1px solid grey;
}
.ubicacion{
    padding-top: 10px;
}

.col-5{
    cursor: pointer;
    box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.1), 15px 15px 15px rgba(255, 255, 255,0.01);
    background-color: rgb(255, 255, 255);
    border-radius:20px;
    padding:1%;
    margin:1%;
    word-wrap: break-word;
    
}

.col-5:hover{
    box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2), 15px 15px 15px rgba(255, 255, 255,0.01);
    transform-style: preserve-3d;
    transform: translate(-3px,-3px);
    transition: ease-out 0.3s;
}

#container{
    max-width: 100%;
}


