* {
    font-family: "Montserrat",Arial, Helvetica, sans-serif;
    
}

html{
    overflow-x: hidden;
}

.nombre{
    font-weight: bold;
    font-size: larger;
    padding-bottom:10px;
    border-bottom: 1px solid grey;
}

.ubicacion{
    padding-top: 10px;
}

.col-5{
    cursor: pointer;
    box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.1), 15px 15px 15px rgba(255, 255, 255,0.01);
    background-color: rgb(255, 255, 255);
    border-radius:20px;
    padding:1%;
    margin:1%;
    word-wrap: break-word;
    
}

.col-5:hover{
    box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2), 15px 15px 15px rgba(255, 255, 255,0.01);
    transform-style: preserve-3d;
    transform: translate(-3px,-3px);
    transition: ease-out 0.3s;
}
.col-5 img{
    height: 30%;
    width:30%;
}
#container{
    max-width: 100%;
}

table{
    width:100%;
}
