* {
    font-family: "Montserrat",Arial, Helvetica, sans-serif;
    
}

html{
    overflow-x: hidden;
}
#navbar a{
    text-decoration: none;
    color: black;
}

#navbar #titulo{
    font-weight: bold;
    font-size: larger;
    float: left;
}

.navbar{
    position: fixed;
    width: 100%;
    height: 15%;
    z-index: 100;
    background-color: white;
}
.submit{
    width:10%;
    padding: 2%;
    border: solid 1px grey;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    outline: none;
    transition: ease-out 0.3s;
    background-color: transparent;
}
.submit:active{
    transform-style: preserve-3d;
    transform: translate(-2px,-2px);
    transition: ease-out 0.3s;
}
svg{
    width: 1.2em;
    height: 1em;
}
#miSelect{
    width: 10%;
}

.miForm{
    transform: translateY(15%);
    width: 100%;
    height: 70%;
    
}
.select{
    padding: 1%;
    border-radius: 30px;
    border: none;
    outline: none;
}

.select:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
}

.input{
    width: 86%;
    padding: 2%;
    border: solid 1px grey;
    border-radius: 30px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    transition: ease-out 0.3s;
    font-size: 1rem;
}
.input:focus{
    outline: none;
}


#intro-image {
    background-position: 50%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;     
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 7%;
    opacity: 0.8;
}


#text-intro-image{
    all: initial;
    font-size: 400%;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 20%;
    left: 10%;
    border-bottom: 1px solid white;
    z-index: 200;
}

.subtitulo-intro-image{
    all: initial;
    position: absolute;
    color: white;
    top: 110%;
    left: 0%;
}


.nombre{
    font-weight: bold;
    font-size: larger;
    padding-bottom:10px;
    border-bottom: 1px solid grey;
}
.ubicacion{
    padding-top: 10px;
}

.col-5{
    cursor: pointer;
    box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.1), 15px 15px 15px rgba(255, 255, 255,0.01);
    background-color: rgb(255, 255, 255);
    border-radius:20px;
    padding:1%;
    margin:1%;
    word-wrap: break-word;
    
}

.col-5:hover{
    box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2), 15px 15px 15px rgba(255, 255, 255,0.01);
    transform-style: preserve-3d;
    transform: translate(-3px,-3px);
    transition: ease-out 0.3s;
}

#container{
    max-width: 100%;
}
#login{
    float: right !important;
    width: 100%;
    text-align: right;
    transform: translateY(100%);
}

table{
    width:100%;
}
